#app {
    
}

#header {  
    background-color: #0688cc;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-with-search {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 86px;
}

.header__logo {
    max-width: 100%;
    flex: 1;
    display: block;
}

.header__slogan {
    padding-left: 22px;
    font-size: 32px;
    color: var(--white-color);
    text-decoration: none;
    /* flex: 3; */
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header__search {
    flex: 1;
    display: flex;
}

.header__search-input {
    width: 100%;
    min-height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px 0 0px 5px;
    
}

.header__btn-search {
    flex: 2;
    height: 40px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 20px;
}

.header__btn-search:hover {
    background-color: #ed1c24;
    color: #fff;
}

.header__search-icon-search {
    font-size: 16px;  
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-cart {
    padding-right: 22px;
    list-style: none;
}


.header__contact-cart-item {
    float: left;
    display: block;
    padding: 14px;
    position: relative;
    margin-top: 12px;
}

.header__contact-cart-item .header__contact-cart-icon-number {
    display: flex;
    font-size: 14px;
    width: 25px;
    height: 25px;
    background-color: #ed1c24;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -6px;
}


.header__contact-cart-item a {
    text-decoration: none;
}

.header__contact-cart-item:hover {
    cursor: pointer;
}

.header__contact-cart-content {
    font-size: 13px;
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 20px;
}

.header__contact-phone-icon {
    font-size: 22px;
    margin-right: 5px;
    color: var(--white-color);
    margin-top: 8px;
}

.header__contact-cart .header__contact-cart-icon {
    font-size: 22px;
    color: var(--white-color);
    margin-top: 5px;
}

/* Header Notify */
.header__notify {
    position: absolute;
    width: 200px;
    top: 110%;
    right: 0;
    background-color: #fff;
    z-index: 999;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.3s;
    display: none;
}

.header__notify::before {
    content: "";
    border: solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 2px;
    top: -32px;
}

.header__contact-cart-item--has-notify:hover .header__notify{
    display: block;
}


@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-list {
    list-style-type: none;
    display: inline;
    padding-top: 0;
}

.header__notify-link {
    display: block;
}

.header__notify-item {
    display: block;
    padding: 10px 20px;
    
}

.header__notify-item:hover {
    background-color: #f5f4f5;
}

.header__notify-title {
    font-size: 14px;
    color: var(--black-color);
    font-weight: 500;
    
}


/* NavBar */

#navbar {
    position: sticky;
    height: 50px;
    width: 100%;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    background-color: #fff;
}

.nav > li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav > li > a {
    text-transform: uppercase;
}

.nav > li > a {
    display: block;
}

.nav li a {
    text-decoration: none;
    line-height: 50px;
    font-size: 16px;
    padding: 0px 22px;
    color: var(--black-color);
    display: inline-block;
    font-weight: 600;
}

.nav .subnav li:hover a,
.nav > li:hover > a {
    background-color: #50adc7;
    color: var(--white-color);
    /* box-shadow: 1px 5px 5px 5px #0688cc; */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.nav li:hover .subnav {
    display: block;
}

.nav, .subnav {
    list-style-type: none;
}

.nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    min-width: 100%;
    /* box-shadow: 1px 5px 5px 5px #0688cc; */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    top: 50px;
    left: 0;
}

.nav .subnav a {
    color: var(--black-color);
    display: block;
    line-height: 46px;
    font-size: 18px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}


/* Slider */

#slider {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 136px; /* Điều chỉnh khoảng cách từ top xuống */
    margin-bottom: 150px;
    position: relative;
    overflow: hidden;
}

.slider-container {
    display: none;
}


.slider-img {
    vertical-align: middle;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -38px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    font-weight: 700;
}

.next {
    border-radius: 0 3px 3px 0;
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #fff;
    border-radius: 50%;
    transition: 0.6s ease;

}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 3;
    }
    to {
        opacity: 1;
    }
}



/* Content */
#content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content_policy {
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 50px 0px;
    background-color: #fff;
}

.content_policy-item {
    display: inline;
    padding: 18px 0px;
}

.content_policy-item-icon {
    float: left;
    padding: 26px 14px;
    color: #00347c;
}

.content_policy-item-icon:hover {
    cursor: pointer;

}
.content_policy-icon-quanlity {
    font-size: 36px;  
}

.content_polic-item-title {
    display: inline-block;  
}

.content_polic-item-title h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.content_polic-item-title p {
    font-size: 12px;
    color: #7f8fa4;
}

/* Content_info */

.content_info {
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
    padding-bottom: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.content_info-container {
    background-color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
    padding: 5px 15px;
    line-height: 1.4;
    text-align: justify;
    letter-spacing: 0.4px;
    margin-top: 5px;
}

.content_info-title {
    font-size: 18px
}

.content_info-text {
    font-size: 16px;
    letter-spacing: 1.4;
}

.content_info-strong {
    text-decoration: none;
    color: #0688cc;
}

.content_info-title-main {
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 1100px;
    max-width: 100%;
}

.content_info-title-main-contact {
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-bottom: 40px;
    width: 1100px;
    max-width: 100%;
}

.content_info-title-main-contact h2 {
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
    line-height: 1.4;
}

.content_info-title-main-contact h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background-color: #00347c;
    margin: 0 auto;
    z-index: 0;
}

.content_info-title-main h2 {
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
    line-height: 1.4;
}

.content_info-title-main h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background-color: #00347c;
    margin: 0 auto;
    z-index: 0;
}

.content_info-title-main-sanpham {
    padding: 5px 0px 5px 0px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 1100px;
    max-width: 100%;
}

.content_info-title-main-sanpham h2 {
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
    line-height: 1.4;
}

.content_info-title-main-sanpham h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background-color: #00347c;
    margin: 0 auto;
    z-index: 0;
}


/* Content_products */
.content_products {
    background-color: #fff;
    margin-top: 30px;
}

.content_products-haisan {

}

.content_products-list {
    background-color:#fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
    margin: 30px 0 60px;
    
}

.content_products-list-hot {
    margin: 30px 0 60px;
    background: linear-gradient(90deg, #7fcdff, #1da2d8 35%, #064273);
    border-radius: 30px;
}

.content_products-item-title-header {
    display: flex;
    align-items: center; 
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content_products-item-title-header-white {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--white-color);
}

.content_products-item-product-title {
    font-size: 14px;
    color: #222;
    text-align: left;
    padding: 0 10px;
}

.content_products-item-product-title-white {
    font-size: 14px;
    color: var(--white-color);
    text-align: left;
    padding: 0 10px;
    height: 25px;
}


.content_products-item-product-info {
    font-weight: 700;
    font-size: 14px;
    color: #ed1c24;
    text-align: left;
    padding: 0 10px;
}

.content_products-item-product-view-more {
    float: right;
    font-size: 14px;
    /* text-decoration: none; */
    color: #ed1c24;
    margin-right: 8px;
    padding-bottom: 10px;
    display: block;
}

.content_products-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 15px;
}

.content_products-item-product {
    text-align: center;
    border: 1px solid #000;
    margin: 15px 0px;
    padding: 15px;
}

.content_products-item-product a {
    text-decoration: none;
}

.content_products-item-product img {
    width: 230px;
    border-radius: 3px;
    transition: transform 0.5s ease;
}

.content_products-item-product img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.content_products-item-add-product {
    width: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    background-color:#0688cc;
    border: none;
    
}

.content_products-item-add-product:hover {
    color: #fff;
    background-color: #ed1c24;
    cursor: pointer;

}

.content_products-item-add-product-title {
    float: left;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.content_products-add-icon {
    float: right;
    color: #fff;
}

/* Product discount */
.discount {
    float: right;
    background-color: red;
    color: #fff;
    padding: 3px 6px;
    font-size: 12px;
    
}

.discount-2 {
    background-color: red;
    color: #fff !important;
    margin-left: 20px;
    padding: 5px 10px !important;
    font-size: 12px;
    border-bottom-left-radius: 65px;
    border-top-right-radius: 65px;
}

.content_products-item-product-info-discount {
    font-weight: 700;
    font-size: 14px;
    color: #ed1c24;
    text-align: left;
    padding: -1px 10px;
    text-decoration: line-through;
}
/* Content Register */

.content_register {
    width: 600px;
    max-width: 100%;
    margin: 70px auto 80px auto;
    text-align: center;
    background-color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
    border-radius: 50px;
}

.content_form {
    border-radius: 20px;
    
}

.content_form_contact {

}

.content_form-input {
    outline: none;
    width: 500px;
    max-width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content_contact-info-text {
    padding-bottom: 20px;
}

.content_form-input:focus {
    border-color: #888;
}

.content_register-submit-btn {
    width: 100%;
    padding-bottom: 35px;
}

.content_register-submit-btn .btn--primary {
    padding: 10px 50px;
    width: 500px;
    max-width: 100%;
    background-color: #0688cc;
    font-size: 20px;
    border: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
}

.content_register-submit-btn .btn--primary:hover {
    background-color: aliceblue;
    color: var(--black-color);
    cursor: pointer;
    box-shadow: 1px 5px 5px 5px #222;
}

.content_register-aside-policy-text {
    font-size: 12px;
    color: #222;
    font-weight: 500;
    padding-bottom: 10px;
}

.content_register-aside-policy-link {
    text-decoration: none;
    color: #0688cc;
}

.content_register_socials {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.content_register_socials-title-icon {
    margin: 0 24px;
}

.content_register_socials-icon {
    padding-left: 5px;
}

.btn--with--icon {
    text-decoration: none;
    font-size: 15px;
    color: var(--black-color);
    padding: 12px 0px;
    background-color: rgb(225, 237, 248);
    border-radius: 4px;
}

.btn--with--icon:hover {
    opacity: 0.8;
}

/* Content Login */
.content_login {
    width: 600px;
    max-width: 100%;
    margin: 70px auto 80px auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
    border-radius: 50px;
}

.content_form_login {
    position: relative;
}

.content_form-input-icon {
    position: absolute;
    top: 42%;
    right: 0;
    padding-right: 80px;
    transform: translateY(-50%);
}

.content_form-input-icon-icon {
    font-size: 18px;
}

.content_register-forgot-remember {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 32px;
}

.content_register-check-remember {
    font-size: 16px;  
    padding: 0 48px;
}

.content_register-forgot-text {
    color: #222;
    text-decoration: none;
}

.content_register-forgot-text:hover {
    cursor: pointer;
    color: red;
    font-weight: 600;
}

/* Business News */
.content_business_news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 20px;
}

.content_business_news-item {
    flex: 0 0 45%;
    max-width: 100%;
   margin: 0 15px;
   border: 1px solid #e1e8ee;
    padding-bottom: 20px;
}

.business_news_link-img {
    height: 300px;
}

.business_news-img {
    width: 100%;
    height: auto;
}


.business_news_title-sub-main {
    text-align: justify;
    font-size: 16px;
    padding: 0 12px;
    min-height: 36px;
    line-height: 1.3;
}

.business_news-detail {
    padding: 0 8px;
}

.business_news-sub-detail {
    font-size: 14px;
    text-align: center;
    padding: 0 7px;
    padding-bottom: 10px;
    line-height: 1.3;
}

.business_news-btn-detail {
    color: var(--white-color);
    font-size: 14px;
    float: right;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #0688cc;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Evalue */
.business_news-evaluate {
    display: flex;
    justify-content: space-between;

}

.business_news-evaluate-left {
    display: flex;
}

.business_news-evaluate-left i {
    font-size: 17px;
    padding-right: 5px;
}

.business_news-evaluate-left span {
    font-size: 14px;
}

.business_news-evaluate-user {
    padding: 0 5px;
}

.business_news-evaluate-right i {
    font-size: 17px;
    color: rgb(224, 224, 56);
}

.business_news-evaluate-right i:hover {
    color: yellow;
}

/* Content_contact */
.content_contact {
    margin: 70px auto 80px auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
    background-color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .1));
}

.content_contact-info-text-detail {
    text-align: left;
    padding-left: 152px;
    font-size: 16px;
    margin-bottom: 0;
}

.content_contact-info-text-detail-register {
    text-align: left;
    padding-left: 50px;
    font-size: 16px;
    margin-bottom: 0;
}

.content_contact-info-text-detail span {
    padding-right: 10px;
}

.content_contact-info-text-detail-link {
    text-decoration: none;
    color: var(--black-color);
}


.note-star {
    color: red;
    font-weight: bold;
}

.error-message {
    text-align: left;
    padding-left: 152px;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: red;
}

.error-message-re,
.error-message-login {
    text-align: left;
    padding-left: 53px;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: red;
}

/* Footer */

#footer {
    left: 0;
    right: 0;
    min-height: 300px;
    background-color:#071831;
    color: var(--white-color);
}

.footer_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 21px;
}

.footer_copyright {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3px;
}

.footer_copyright p {
    font-size: 14px;
}

.footer_row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer--icon {
    font-size: 14px;
    padding: 8px;
}

.footer_col-one {
    flex: 2;
    padding-top: 40px;
    line-height: 1.6;
    margin-right: 5px;
}

.footer_col-two {
    flex: 1;
    line-height: 1.6;
    margin-right: 5px;

}

.footer_col-three {
    flex: 1;
    line-height: 1.6;
    margin-right: 5px;
    
}

.footer_col-four {
    flex: 1;
    line-height: 1.6;
}

.footer_support {
    font-size: 16px;
    padding: 0;
    list-style-type: square;
    padding-left: 14px;
    list-style-type: none;
}

.footer_support li a,
.footer_policy li a {
    color: #fff;
    text-decoration: none;

}

.footer_support li:hover a,
.footer_policy li:hover a {
    color: #ed1c24;
    text-decoration:underline;
}

.footer_policy {    
    font-size: 16px;
    padding: 0;
    list-style-type: square;
    padding-left: 14px;
    list-style-type: none;
}

.footer_sub-text-main {
    font-size: 14px;
    text-transform: uppercase;
}

.footer_title-main {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--white-color);
}

.footer_address span {
    font-size: 15px;
}


.footer_hotline a {
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
}

.footer_email a {
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
}

.footer_email a:hover {
    color: #ed1c24;
    text-decoration:underline;
}

.footer_col-two li:hover {
    color: #ed1c24;
    text-decoration:underline;
}

.footer_col-three li:hover {
    color: #ed1c24;
    text-decoration:underline;
}

.footer_connect {
    display: flex;
}

.footer_connect-icon {
    padding: 6px;
    border-radius: 16px;
    background-color:#0688cc;
    margin: 0 8px;
}

.footer_connect-icon:hover {
    background-color: #ed1c24;
    cursor: pointer;
}

.footer--icon-icon {
    font-size: 14px;
    padding: 8px;
    color: var(--white-color);
}

/* Phone fixed */
.contact_fixed {
    right: 1%;
    background-color: #f33a3a;
    border-radius: 50%;
    padding: 12px;
    top: 76%;
    position: fixed;
    z-index: 999;
}

.contact_fixed:hover {
    transform: scale(1.2);
}

.contact_fixed a{
    color: #fff;
    font-size: 30px;
}

.contact_fixed a i {
    animation: topDown 0.3s infinite;
}

@keyframes topDown {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}